<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg">
                         </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                                <span class="block m-t-xs"> 
                                    <strong class="font-bold">Доктор Хаус</strong>
                                </span> 
                                <span class="text-muted text-xs block"> Хирург </span>
                            </span>
                        </a>
                </div>
                </li>
                <li>
                    <a>
                        <span class="nav-label">Администрирование</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse in">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['specialty']">Специальности</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['service']">Услуги</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['manipulation']">Манипуляции</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['workplace']">Рабочие места</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['doctor']">Персонал</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['discount']">Скидки</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['examination']">Маршруты, обследования</a></li>
                    </ul>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['order']">
                        <span class="nav-label">Запись клиента</span>
                        <span class="fa arrow"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" (click)="toogleNavBar()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out"></i> Выйти
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div *ngIf="alerts">
                        <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type" dismissOnTimeout="3000" (close)="removeAlert(i)">
                            {{ alert.message }}
                        </alert>
                    </div>
	               <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Статус &copy; 2016
            </div>
        </div>

    </div>
</div>