<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
    		<div class="ibox-content">
                <form role="form" class="form-horizontal" (submit)="save()">
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Услуга:</label>
                            <select name="service_key" class="form-control" [(ngModel)]="manipulationModel.service_key" required>
                                <option value="0" selected hidden>Услуга</option>
                                <template ngFor let-service [ngForOf]="services">
                                    <option [ngValue]="service.$key" *ngIf="(service.Type$ | async)?.type != 'manipulation'">{{service.name}}</option>
                                    }
                                </template>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <label>Манипуляции:</label>
                            <select name="manipulation_keys" class="form-control" [(ngModel)]="manipulationModel.manipulation_keys" required multiple>
                                <option value="0" selected hidden>Манипуляции</option>
                                <template ngFor let-service [ngForOf]="services">
                                    <option [ngValue]="service.$key" *ngIf="(service.$Type | async)?.type == 'manipulation'">{{service.name}}</option>
                                    }
                                </template>
                            </select>
                        </div>
                        <div class="col-sm-2 m-t">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped text-left">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Услуга</th>
                                <th>Манипуляции</th>
                                <th nowrap></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let manipulation of manipulations; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{(manipulation.$Service | async)?.name}}</td>
                            <td>
                                <span *ngFor="let manip of manipulation.$Manipulations">
                                    {{(manip | async)?.name}}<br />
                                </span>
                            </td>
                            <td>
                                <i class="fa fa-pencil-square-o fa-2x" (click)="edit(manipulation)"></i>
                                <i class="fa fa-times-circle fa-2x" (click)="remove(manipulation.$key)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>