<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
    		<div class="ibox-content">
                <form role="form" class="form-horizontal" (submit)="save()">
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Услуга:</label>
                            <select name="Service" class="form-control" [(ngModel)]="manipulationModel.Service" required>
                                <option value="0" selected hidden>Услуга</option>
                                <template ngFor let-service [ngForOf]="services">
                                    <option [ngValue]="service" *ngIf="service.Type.type != 'manipulation'">{{service.name}}</option>
                                    }
                                </template>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <label>Манипуляции:</label>
                            <select name="Manipulations" class="form-control" [(ngModel)]="manipulationModel.Manipulations" required multiple>
                                <option value="0" selected hidden>Манипуляции</option>
                                <template ngFor let-service [ngForOf]="services">
                                    <option [ngValue]="service" *ngIf="service.Type.type == 'manipulation'">{{service.name}}</option>
                                    }
                                </template>
                            </select>
                        </div>
                        <div class="col-sm-2 m-t">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped text-left">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Услуга</th>
                                <th>Манипуляции</th>
                                <th nowrap></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let manipulation of manipulations; let i = index">
                            <td>{{manipulation.id}}</td>
                            <td>{{manipulation.Service.name}}</td>
                            <td>
                                <span *ngFor="let manip of manipulation.Manipulations">
                                    {{manip.name}}<br />
                                </span>
                            </td>
                            <td>
                                <i class="fa fa-pencil-square-o fa-2x" (click)="edit(i)"></i>
                                <i class="fa fa-times-circle fa-2x" (click)="remove(i)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>