<div class="row">
    <div class="col-sm-9">
	    <div class="ibox">
			<div class="ibox-content">
	            <form role="form" (submit)="save()">
	            	<div class="row">
	            		<div class="col-sm-4">
                			<div class="form-group">
	                			<label class="m-r">ФИО:</label>
	                			<input name="name" [(ngModel)]="clientModel.name" 
	                				[typeahead]="clients" 
	                				(typeaheadOnSelect)="selectClient($event)"
	                				[typeaheadOptionField]="'name'"
						         	class="form-control" 
					         		autocomplete="off" required>
	            			</div>
	            			<div class="form-group">
	                			<label>Телефон:</label>
	                			<input type="text" name="phone" class="form-control" [(ngModel)]="clientModel.phone">
	            			</div>
	            			<div class="form-group">
	                			<label>Населенный пункт:</label>
	                			<input type="text" name="town" class="form-control" [(ngModel)]="clientModel.town">
	            			</div>
	            			<div class="form-group">
		            			<label><input type="radio" name="sex" value="0" [(ngModel)]="clientModel.sex">Муж  &nbsp; </label>
	                        	<label><input type="radio" name="sex" value="1" [(ngModel)]="clientModel.sex">Жен  &nbsp; </label>
                        	</div>
                        	<div class="form-group has-feedback">
                				<label>Дата рождения:</label>
            				    <input type="text" name="birth_date" class="form-control" [value]="clientModel.birth_date | date:'dd-MM-yy'" (click)="showDatepickerBirth = !showDatepickerBirth">
                                <i class="fa fa-calendar fa-2x form-control-feedback"></i>
                                <div class="datepicker-popup" *ngIf="showDatepickerBirth">
                				    <datepicker name="birth_date" 
                				    	[(ngModel)]="clientModel.birth_date" 
                				    	[showWeeks]="false" 
                				    	(selectionDone)="showDatepickerBirth = false"
                				    	[startingDay]="1">
            				    	</datepicker>
                                </div>
                            </div>
                            <div class="form-group">
		            			<label><input type="checkbox" name="is_insurance" [value]="true" [(ngModel)]="clientModel.is_insurance">Страховка</label>
                        	</div>
                        	<div *ngIf="clientModel.is_insurance">
                        		<div class="form-group">
                					<label>Название:</label>
									<select name="Insurance" 
										class="form-control" 
										[(ngModel)]="clientModel.InsuranceDetail.Insurance"
									required>
		                            	<option value="0" selected hidden></option>
		                                <template ngFor let-insurance [ngForOf]="insurances">
		                                    <option [ngValue]="insurance">{{insurance.name}}</option>
		                                    }
		                                </template>
		                            </select>
	                            </div>
	                        	<div class="form-group">
		                			<input type="text" 
		                				name="policy" 
		                				placeholder="Номер полиса" 
		                				class="form-control" 
		                				[(ngModel)]="clientModel.InsuranceDetail.policy">
		            			</div>
		            			<div class="form-group">
		                			<input type="text" 
		                				name="phone" 
		                				placeholder="Направляющий врач" 
		                				class="form-control" 
		                				[(ngModel)]="clientModel.InsuranceDetail.doctor_name">
		            			</div>
		            			<div class="form-group">
		                			<input type="number" 
		                				name="percent" 
		                				placeholder="Процент франшизы" 
		                				class="form-control" 
		                				[(ngModel)]="clientModel.InsuranceDetail.percent">
		            			</div>
	            			</div>
                		</div>
                		<div class="col-sm-8">
                			<div class="row">
                				<div class="col-sm-6">
                					<div class="form-group">
	                					<label>Принимающий врач:</label>
										<select name="PerformDoctor" class="form-control" [ngModel]="orderModel.PerformDoctor" (ngModelChange)="selectDoctor($event)" required>
			                            	<option value="0" selected hidden></option>
			                                <template ngFor let-doctor [ngForOf]="doctors">
			                                    <option [ngValue]="doctor">{{doctor.last_name}} {{doctor.first_name}}</option>
			                                    }
			                                </template>
			                            </select>
		                            </div>
		                            <div class="form-group">
			                            <label>Услуга:</label>
			                            <select name="Service" class="form-control" [ngModel]="orderModel.Service" (ngModelChange)="selectService($event)" required>
			                            	<option value="0" selected hidden></option>
			                                <template ngFor let-service [ngForOf]="services">
			                                    <option [ngValue]="service">{{service.name}}</option>
			                                    }
			                                </template>
			                            </select>
		                            </div>
                				</div>
                				<div class="col-sm-6">
                					<div class="form-group">
	                					<label>Направляющий:</label>
										<select name="AssignDoctor" class="form-control" [(ngModel)]="orderModel.AssignDoctor">
			                            	<option value="0" selected hidden></option>
			                                <template ngFor let-doctor [ngForOf]="doctors_all">
			                                    <option [ngValue]="doctor">{{doctor.last_name}} {{doctor.first_name}}</option>
			                                    }
			                                </template>
			                            </select>
		                            </div>
		                            <div class="form-group">
			                            <label>Рабочее место:</label>
			                            <select name="Workplace" class="form-control" [(ngModel)]="orderModel.Workplace" required>
			                            	<option value="0" selected hidden>Услуга</option>
			                                <template ngFor let-workplace [ngForOf]="workplaces">
			                                    <option [ngValue]="workplace">{{workplace.name}}</option>
			                                    }
			                                </template>
			                            </select>
		                            </div>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-sm-6">
			            			<div class="form-group has-feedback">
		                				<label>Дата:</label>
		            				    <input type="text" name="date" class="form-control" [value]="orderModel.date | date:'dd-MM-yy'" (click)="showDatepicker = !showDatepicker" required>
		                                <i class="fa fa-calendar fa-2x form-control-feedback"></i>
		                                <div class="datepicker-popup" *ngIf="showDatepicker">
		                				    <datepicker name="date" [(ngModel)]="orderModel.date" [showWeeks]="false" (selectionDone)="showDatepicker = false"></datepicker>
		                                </div>
		                            </div>
			            			<div class="form-group timepicker">
			            				<label>Время:</label>
			            				<timepicker name="time" [(ngModel)]="orderModel.time" [hourStep]="1" [minuteStep]="5" [showMeridian]="false"></timepicker>
			            			</div>
                				</div>
                				<div class="col-sm-6">
                					<div class="row">
		                				<div class="col-sm-6">
		                					<div class="form-group">
					                			<label>Стоимость:</label>
					                			<input type="text" name="price" class="form-control" [(ngModel)]="orderModel.price">
					            			</div>
		                				</div>
		                				<div class="col-sm-6">
		                					<div class="form-group">
					                			<label>Длительн.:</label>
					                			<input type="text" name="duration" class="form-control" [(ngModel)]="orderModel.duration">
					            			</div>
		                				</div>
	                				</div>
	                				<div>
		                				<div class="form-group">
				                            <label>Скидка:</label>
				                            <select name="Discount" class="form-control" [(ngModel)]="orderModel.Discount">
				                            	<option value="0" selected hidden></option>
				                                <template ngFor let-discount [ngForOf]="discounts">
				                                    <option [ngValue]="discount">{{discount.name}} &mdash; {{discount.amount}}%</option>
				                                    }
				                                </template>
				                            </select>
			                            </div>
	                				</div>
                				</div>
                			</div>
            				<div class="form-group">
	                			<textarea name="notes" placeholder="Комментарии" class="form-control" rows="4" [(ngModel)]="orderModel.comments"></textarea>
	            			</div>
                		</div>
	            	</div>
	            	<hr />
	            	<div class="text-right">
                		<button class="btn btn-primary m-t" type="submit">Сохранить</button>
            		</div>
	            </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    	<div class="ibox">
    		<div class="ibox-content" style="height: 570px; overflow-y: scroll">
                <div class="m-b text-bold" *ngFor="let serviceType of servicesTypes">
                	<strong>{{serviceType.name}}</strong>
					<div *ngFor="let service of services; let i = index">
                        <div class="widget-item" *ngIf="service.Type.id == serviceType.id" (click)="selectService(service)">
                            <i class="fa fa-check" *ngIf="orderModel.Service.id === service.id"></i> {{service.name}}
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </div>
</div>
